.root {
  -webkit-backdrop-filter: blur(0.8px);
  background-color: rgba(245, 245, 245, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal:focus {
  outline: none;
}

.close {
}
