.root {
  width: 100%;
  padding: 12px;
  background-color: #1974e4;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 600;
}

.disabled,
.disabled:hover {
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  cursor: text;
  background-color: #e4e6ea;
  color: gray;
}

.progress {
}
